.continer{

background: #76414124;
border: 1px solid green;
height: 500px;

display: flex;
flex-wrap: wrap;
margin: 4px;
padding: 4px;
justify-content: space-evenly;
align-items: center;
align-content: center;


}
.box{
height: 50px;
width: 50px;
border: 1px solid black;

margin: 5px;
padding: 5px;

}
#box1{
     
     background: aqua;
   
}
#box2{
    
     background: orange;
}
#box3{
 
     background: mediumseagreen;
}
#box4{
     
     background: #409011;
}